name: Build and test the aws jslib against a Localstack instance
on:
    # Enables running the workflow manually from the Actions tab
    workflow_dispatch:

    push:
        branches:
            - main
        tags:
            - v*

    pull_request:

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Install npm packages
              run: npm install

            - name: Verify the build is up to date
              run: |
                npm run webpack -- --output-path="${RUNNER_TEMP}/dist"
                if ! diff -r "${RUNNER_TEMP}/dist" dist > /dev/null; then
                  echo "Build is out of date, please run 'npm run webpack' and commit the changes"
                  exit 1
                fi

            - name: Install Go
              uses: actions/setup-go@v4
              with:
                  go-version: 1.x

            - name: Install k6
              run: go install go.k6.io/k6@latest

            - name: Build the stack
              run: docker-compose up -d

            - name: Wait for the localstack scripts to have been applied
              run: sleep 30

            - name: Test
              run: npm run ci-test
