name: CI
on:
    # Enables running the workflow manually from the Actions tab
    workflow_dispatch:

    push:
        branches:
            - main
        tags:
            - v*

    pull_request:

jobs:
    test:
        runs-on: ubuntu-latest
        timeout-minutes: 10
        permissions:
          contents: read

        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
              with:
                  persist-credentials: false

            - name: Setup Deno
              uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
              with:
                deno-version: v2.x

            - name: Check Formatting
              run: deno task fmt

            - name: Check Linting
              run: deno task lint

            - name: Build
              run: deno task build

            - name: Install Go
              uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
              with:
                  go-version: 1.24.x
                  cache: false

            - name: Install k6
              run: go install go.k6.io/k6@latest

            - name: Build the docker-compose stack
              uses: hoverkraft-tech/compose-action@05da55b2bb8a5a759d1c4732095044bd9018c050 # v2.4.3
              with:
                  up-flags: '-d'
                  down-flags: '-v'

            - name: Wait for the localstack scripts to have been applied
              run: sleep 30

            - name: Test
              run: deno task test:ci
