name: Lint the aws jslib
on:
    # Enables running the workflow manually from the Actions tab
    workflow_dispatch:

    push:
        branches:
            - main
        tags:
            - v*

    pull_request:

permissions:
    contents: read

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  persist-credentials: false

            - name: Install npm packages
              run: npm install

            - name: Lint
              run: npm run lint
