name: Release

on:
    push:
        tags:
            - v*

permissions:
    contents: write

jobs:
    checks:
        runs-on: ubuntu-latest
        if: startsWith(github.ref, 'refs/tags/v')
        steps:
            - name: Check out source code
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
              with:
                  persist-credentials: false

            - name: Setup Deno
              uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
              with:
                deno-version: v2.x

            - name: Build & archive
              run: |
                  set -x
                  VERSION="${GITHUB_REF##*/}"
                  deno task release && tar -zcf "k6-jslib-aws-${VERSION}.tar.gz" -C dist .

            - name: Create release with assets
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  set -x
                  VERSION="${GITHUB_REF##*/}"
                  gh release create "${VERSION}" "k6-jslib-aws-${VERSION}.tar.gz" dist/* --target "${GITHUB_SHA}" --title "${VERSION}"
